<h2>Create an auction: </h2>
<form [formGroup]="createAuctionForm" (ngSubmit)="onSubmit(name.value, description.value); name.value=''; description.value=''">
    <div>
        <label for="name">
          Auction Name
        </label>
        <input id="name" type="text" formControlName="name" minlength="4" required #name>
      </div>
      <div>
        <label for="description">
          Description
        </label>
        <input id="description" type="text" formControlName="description" minlength="4" required #description>
      </div>
    <button class="add-button" type="submit" [disabled]="!createAuctionForm.valid">Add Auction</button>
  
  </form>
    
<ul class="auctions">
    <li *ngFor="let auction of auctions">
        <span>{{ auction.name }}</span>
        <br>
        <span>{{ auction.description }}</span>
        <button class="start-button" (click)="startCountdown(60)">Start</button>
        <!-- <div *ngIf="counter"> {{ counter }}</div> -->
        <button class="delete" title="delete auction" (click)="delete(auction)">Remove this auction</button>
    </li>
</ul>